# Terraform .terraform directory
.terraform/

# Local .tfstate files
*.tfstate
*.tfstate.*

# .tfvars files that are executed automatically
*.auto.tfvars

# .tfvars files that can be included for variable definitions
*.tfvars

# Crash log files
crash.log

# Exclude CLI configuration files
terraform.rc